<h1>Troopers</h1>

<%= link_to 'Register new trooper', new_trooper_path, :class => "btn btn-primary btn-sm" %>

<hr>
<% if @troopers.empty? %>
    <p>No trooper for now</p>
<% else %>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Age</th>
                <th>Strength</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <% @troopers.each do |trooper| %>
                <tr>
                    <th scope="row"><%= trooper.id %></th>
                    <td><%= trooper.name %></td>
                    <td><%= trooper.age %></td>
                    <td><%= trooper.strength %></td>
                    <th class="text-right"><%= link_to 'Details', trooper_path(trooper), :class => "btn btn-primary btn-sm" %></th>
                </tr>
            <% end %>
        </tbody>
    </table>
<% end %>

