<h1><%= @trooper.category.name %> details</h1>

<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">Name</th>
            <td><%= @trooper.name %></td>
        </tr>
        <tr>
            <th scope="row">Age</th>
            <td><%= @trooper.age %></td>
        </tr>
        <tr>
            <th scope="row">Strength</th>
            <td><%= @trooper.strength %></td>
        </tr>

         <tr>
            <th scope="row">Category</th>
            <td><span class="badge badge-primary"><%= @trooper.category.name %></span> <br> <%= @trooper.category.description %></td>
        </tr>
       
    </tbody>
</table>

<%= link_to 'Back', troopers_path, :class => "btn btn-danger btn-sm" %>