<!DOCTYPE html>
<html>
  <head>
    <title>Empire Management App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container" id="app">
      <header class="header clearfix app-header">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <%= link_to 'Troopers', troopers_path, :class => "nav-link" %>
            </li>
          </ul>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <%= link_to 'Index', root_path, :class => "nav-link" %>
            </li>
          </ul>
        </nav>
        <h3><i class="fa fa-empire" aria-hidden="true"></i> Empire Management System</h3>
      </header>
      

      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>

    </div>
  </body>
</html>
